---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

html,
	body {
		margin:0;
		padding:0;
		min-height:100%;
	}
	#container {
		min-height:100%;
		position:relative;
	}
	#header {

		padding-top:0px;
    padding-bottom: 0px;
	}
	#body {
    min-height: 100%;
		padding:10px;
		padding-bottom:60px;	/* Height of the footer */
	}
	#footer {
		position:absolute;
		bottom:0;
		width:100%;
		height:60px;			/* Height of the footer */

	}
.site-head-wrapper{
  height: 100vh;
}

.site-head-wrapper-general{
  padding-bottom: 3em;
}
.site-head-text{
  padding-top: 14%;
}
.site-title{
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 120px;
  text-transform: uppercase;
  font-weight: 900;
  color: lightgray;
  letter-spacing: 0.5em;
  text-indent: 0.5em;
}

.site-desc{
  text-align: center;
font-family: "Source Sans Pro";
font-size: 20px;
text-transform: uppercase;
font-weight: 900;
color: grey;
letter-spacing: 0.5em;
text-indent: 0.5em;
}


.post-box{
padding: 0.5em;

}

.navbar{
  border: none;
  border-color: white !important;
  background-color: white !important;
  box-shadow:0 4px 3px 0 rgba(0,0,0,.15);

}
 .pg-title{
  font-family: "Roboto";
  font-weight: 100;


}


.navbar-brand{
  font-weight: 100;
font-size: 30px !important;
text-transform: lowercase;
}
.pg-title{
  text-transform: uppercase;
  font-size: 20px;
    letter-spacing: 0.1em;
}







.blue-grey.darken-1 {
    background-color: #546e7a !important;
}

.card .card-action {
    position: relative;
    background-color: inherit;
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 20px;
    z-index: 2;
		text-align: right;
font-family: "Roboto";
text-transform: uppercase;
font-size: 20px;
font-weight: 800;
letter-spacing: 0.1em;
}

a{
	color: white;
text-decoration: none;
padding: 4em;
}
.card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
}
.white-text {
    color: #fff !important;
}
.card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
}
.z-depth-1,  .card-panel, .card {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.blue-grey {
    background-color: #607d8b !important;
}


.card-title{
	font-family: "Roboto";
text-transform: uppercase;
font-size: 24px;
font-weight: 800;
letter-spacing: 0.1em;
}

p{
	font-family: "Roboto";
font-weight: 200;
font-size: 18px;
}





// Our variables
$base-font-family: "Roboto", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import

        "syntax-highlighting"
;
