---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

html,
	body {
		margin:0;
		padding:0;
		min-height:100%;
	}
	#container {
		min-height:100%;
		position:relative;
	}
	#header {

		padding-top:0px;
    padding-bottom: 0px;
	}
	#body {
    min-height: 100%;
		padding:10px;
		padding-bottom:60px;	/* Height of the footer */
	}
	#footer {
		position:absolute;
		bottom:0;
		width:100%;
		height:60px;			/* Height of the footer */

	}
.site-head-wrapper{
  height: 100vh;
}

.site-head-wrapper-general{
  padding-bottom: 3em;
}
.site-head-text{
  padding-top: 14%;
}
.site-title{
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 120px;
  text-transform: uppercase;
  font-weight: 900;
  color: lightgray;
  letter-spacing: 0.5em;
  text-indent: 0.5em;
}

.site-desc{
  text-align: center;
font-family: "Source Sans Pro";
font-size: 20px;
text-transform: uppercase;
font-weight: 900;
color: grey;
letter-spacing: 0.5em;
text-indent: 0.5em;
}


.post-box{
padding: 3em;

}

.navbar{
  border: none;
  border-color: white !important;
  background-color: white !important;
  box-shadow:0 4px 3px 0 rgba(0,0,0,.15);

}
 .pg-title{
  font-family: "Roboto";
  font-weight: 100;


}


.navbar-brand{
  font-weight: 100;
font-size: 30px !important;
text-transform: lowercase;
}
.pg-title{
  text-transform: uppercase;
  font-size: 20px;
    letter-spacing: 0.1em;
}
// Our variables
$base-font-family: "Roboto", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import

        "syntax-highlighting"
;
