---
layout: default
---


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="sec-title">
      <span class="chap">CHAPTER 1 <br></span> BASICS
      </div>
      <ul>
      {% for post in site.posts %}
      {%  for cat in post.categories  %}
      {%  if cat == 'basic' %}
      <li class="post-list-item"><a class="ptitle-index" href="{{post.url}}">{{post.title}}</a> - {{ post.date | date: '%B %d, %Y' }}
      </li>
      {% endif %}
      {% endfor %}
      {%  endfor %}
      </ul>

    </div>

    <div class="col-md-6">
      <div class="sec-title ">
      <span class="chap">CHAPTER 2 <br></span>SETTING UP
      </div>
      <ul>
      {% for post in site.posts %}
      {%  for cat in post.categories  %}
      {%  if cat == 'setup' %}
      <li class="post-list-item"><a class="ptitle-index" href="{{post.url}}">{{post.title}}</a> - {{ post.date | date: '%B %d, %Y' }}
      </li>
      {% endif %}
      {% endfor %}
      {%  endfor %}
      </ul>

    </div>
  </div>
</div>
