---
layout: default
---

<!-- LIST OF CATEGORIES
basic
setup
command
activities
layouts
approaches
intent
-->
<div class="container">


  <!-- ROW 1 -->


  <div class="row">
    <div class="col-md-6">
      <div class="sec-title">
      <span class="chap">CHAPTER 1 <br></span>BASICS
      </div>
      <ul>
      {% for post in site.posts reversed%}
      {%  for cat in post.categories  %}
      {%  if cat == 'basic' %}
      <li class="post-list-item"><a class="ptitle-index" href="{{post.url}}">{{post.title}}</a>
      </li>
      {% endif %}
      {% endfor %}
      {%  endfor %}
      </ul>

    </div>

    <div class="col-md-6">
      <div class="sec-title ">
      <span class="chap">CHAPTER 2 <br></span>SETTING UP
      </div>
      <ul>
      {% for post in site.posts reversed %}
      {%  for cat in post.categories  %}
      {%  if cat == 'setup' %}
      <li class="post-list-item"><a class="ptitle-index" href="{{post.url}}">{{post.title}}</a>
      </li>
      {% endif %}
      {% endfor %}
      {%  endfor %}
      </ul>

    </div>
  </div>


<!-- ROW 2 -->


  <div class="row">
    <div class="col-md-6">
      <div class="sec-title">
      <span class="chap">CHAPTER 3 <br></span> COMMAND LINE
      </div>
      <ul>
      {% for post in site.posts %}
      {%  for cat in post.categories  %}
      {%  if cat == 'command' %}
      <li class="post-list-item"><a class="ptitle-index" href="{{post.url}}">{{post.title}}</a>
      </li>
      {% endif %}
      {% endfor %}
      {%  endfor %}
      </ul>

    </div>

    <div class="col-md-6">
      <div class="sec-title ">
      <span class="chap">CHAPTER 4 <br></span> ACTIVITIES
      </div>
      <ul>
      {% for post in site.posts %}
      {%  for cat in post.categories  %}
      {%  if cat == 'activies' %}
      <li class="post-list-item"><a class="ptitle-index" href="{{post.url}}">{{post.title}}</a>
      </li>
      {% endif %}
      {% endfor %}
      {%  endfor %}
      </ul>

    </div>
  </div>

<!-- ROW 3 -->

  <div class="row">
    <div class="col-md-6">
      <div class="sec-title">
      <span class="chap">CHAPTER 5 <br></span> LAYOUTS
      </div>
      <ul>
      {% for post in site.posts %}
      {%  for cat in post.categories  %}
      {%  if cat == 'layouts' %}
      <li class="post-list-item"><a class="ptitle-index" href="{{post.url}}">{{post.title}}</a>
      </li>
      {% endif %}
      {% endfor %}
      {%  endfor %}
      </ul>

    </div>
    <div class="col-md-6">
      <div class="sec-title">
      <span class="chap">CHAPTER 5 <br></span> APPROACHES
      </div>
      <ul>
      {% for post in site.posts %}
      {%  for cat in post.categories  %}
      {%  if cat == 'approaches' %}
      <li class="post-list-item"><a class="ptitle-index" href="{{post.url}}">{{post.title}}</a>
      </li>
      {% endif %}
      {% endfor %}
      {%  endfor %}
      </ul>

    </div>

  </div>


  <!--ROW 4-->

  <div class="row">

    <div class="col-md-6">
      <div class="sec-title ">
      <span class="chap">CHAPTER 6 <br></span> INTENTS
      </div>
      <ul>
      {% for post in site.posts %}
      {%  for cat in post.categories  %}
      {%  if cat == 'intent' %}
      <li class="post-list-item"><a class="ptitle-index" href="{{post.url}}">{{post.title}}</a>
      </li>
      {% endif %}
      {% endfor %}
      {%  endfor %}
      </ul>

    </div>
  </div>

</div>
